{extends ../@layoutSlim.latte}

{block content}

<script>


</script>

<h2 n:block="title" class="mT30 fS2">Prihlasovanie</h2>

<a n:href=":FBSign:in">GSign:in</a>

{* or use {include '../components/form.latte', form => signInForm} *}
