{extends '../@layoutFull.latte'}

{block content}

{control breadcrumbs}

<h1>DromPresenter</h1>

<div class="dIB b1 bgC2 pT5" style="padding:1px; font-size:20px">Toto je div</div>
<button>Totot je button</button>