#################
## Log
#################
/log/*
!/log/.htaccess

#################
## Temp
#################
/temp/*
!/temp/.htaccess

#################
## Nette configs
#################
*.local.neon

#################
## Vendor (3rd side libs)
################
/vendor/*
!/vendor/others

#################
## Bin
#################


#################
## Files
#################
/files/*
!/files/

#################
## PhpStorm
################
.idea

#################
## Deployment
################
/deployment/*
!/deployment/deployment.ini.php
!/deployment/documentation.php

#################
## Installer
################
/www/adminer/database-log.sql
/bin/testInstaller.bat

#################
## Foto
################
/www/images/*

#################
## Javascripts
################
/www/bower_components/*
