#################
## Log
#################
/log/*
!/log/.htaccess

#################
## Temp
#################
/temp/*
!/temp/.htaccess
/www/webtemp/*
!/www/webtemp/.htaccess

#################
## Nette configs
#################
*.local.neon

#################
## Vendor (3rd side libs)
################
/vendor/*
!/vendor/others

#################
## Bin
#################
/bin/test.bat
/bin/testOne.bat

#################
## Files
#################
/files/*
!/files/

#################
## PhpStorm
################
.idea

#################
## Deployment
################
/deployment/*
!/deployment/deployment.bat
!/deployment/deployment_dev.bat
!/deployment/deployment_test.bat
!/deployment/deployment_ver*.bat
!/deployment/deployment.example.php
!/deployment/deployment.config.php

#################
## Installer
################
/www/adminer/database-log.sql
/bin/testInstaller.bat

#################
## Foto
################
/www/images/*
!/www/images/default/*
