RewriteEngine On

#This rule redirects only one first(main) request not css/js files.
#Css/js.. are requested by browser after main request redirect is done.
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) https://%1/$1 [R=301,L,QSA]

RewriteCond %{HTTP_HOST} ^web\.php5\.sk$
RewriteRule ^$ www/ [L]

RewriteCond %{HTTP_HOST} ^web\.php5\.sk$
RewriteRule (.*) www/$1 [L]