<!DOCTYPE html>
<html>
<head>
	<title>{block title|striptags}{$title}Faktúra{/block}</title>
</head>
<body>
    <div style="font-family:Verdana">
        <h3 style="text-align:right; margin-bottom:25px">✰ NCMS ✰</h3>
        <h2 style="padding:10px; color:#fff; background-color:#aa77aa">Toto je faktúra po ktorej zozelenáte</h2>
        <div>A toto je text tej faktury.
            Táto knižnica dokáže pracovať s marginmi, paddingom, šírkou, fontom a kto vie s čím ešte.
            S odkazmi je to trochu zamotané. Makro n:link síce z rejme funguje, ale adresa localhost v pdf dokumente nie <a n:href="//:Default:default">ako je vidno tu</a>.
            Obyčajné odkazy na externé adresy fungujú normálne <a href="https://google.sk">ako tento</a>.
            <div style="margin-top:50px; padding:10px">čo ja viem čo sem napísať?</div>
            <div style="text-align:right; margin-top:25px">
                Adresa<br>
                Odosielateľa<br>
                546987
            </div>
        </div>
    </div>
</body>
</html>