<script>
	{*
	 	This var is used by main.js which opens/closes categories.
	 	It is current category id. You can set it in presenter via $this[name]->setCategory( $id ).
	*}
	var category_id = {$category_id};
</script>

{cache 'menu_key', tags => [ 'menu_tag' ] }

{block menu}
	<ul>
		{foreach $section as $item}
			{var $children = $item->related( 'categories', 'parent_id' )->order( 'priority ASC') }
			<li id="{$item->id}">
				{if $item->url_params}
					<a href="{plink $item->url (expand)explode(' ', $item->url_params)}">{$item->name}</a>
				{else}
					<a href="{plink $item->url}">{$item->name}</a>
				{/if}

				{if $children->count() }
					{include menu, section => $children } {* RECURSION *}
				{/if}
			</li>
		{/foreach}
	</ul>
{/block}

{/cache}
