<script>
	{*
	 	This var is used by main.js which opens/closes categories.
	 	It is current category id. You can set it in presenter via $this[name]->setCategory( $id ).
	*}
	var category_id = {$current_id};
</script>

{cache 'menu_key', tags => [ 'menu_tag' ] }

{block menu}
	<ul>
		{foreach $section as $item}
			<li id="{$item->getId()}">
				{if $item->getUrlParams()}
					<a href="{plink $item->getUrl() (expand)explode(' ', $item->getUrlParams())}">{$item->getName()}</a>
				{else}
					<a href="{plink $item->getUrl()}">{$item->getName()}</a>
				{/if}

				{if $section = $categories->findBy( [ 'parent_id =' => $item->getId() ], NULL, $admin ) }
					{include menu, section => $section } {* RECURSION *}
				{/if}
			</li>
		{/foreach}
	</ul>
{/block}

{/cache}
