<script>
	{*
		This var is used by main.js which opens/closes categories.
		It is current category id. You can set it in presenter via $this[name]->setCategory( $id ).
	*}
	var category_id = {$category_id};
</script>

{cache 'menu_key', tags => [ 'menu_tag' ] }

{block menu}
	<ul>
		{foreach $section as $item}
			<li>
				{if $item->url_params}
					<a href="{plink $item->url (expand)explode(' ', $item->url_params)}">{$item->title}</a>
				{else}
					<a href="{plink $item->url}">{$item->title}</a>
				{/if}

				{ifset $menuArr[$item->id] }
					{include menu, section => $menuArr[$item->id]} {* RECURSION *}
				{/ifset}
			</li>
		{/foreach}
	</ul>
{/block}

{/cache}
