{extends '../@layoutFull.latte'}

{block content}

<h1 class="mT30 fS2">Účet - {$userRow->user_name}</h1>

<ul class="lSTN pH0 small1">
 	<li><b>Meno:</b> {$userRow->user_name}</li>
  	<li><b>Registrovaný:</b> {$userRow->created}</li>
  	<li><b>Účet aktívny:</b> {$userRow->active ? áno : nie}</li>
</ul>

<ul class="lSTN pV10 pH0">
	{if $userRow->password}
  	<li><a n:href=":User:password">Zmeniť heslo</a></li>
  	<li><a n:href=":User:name">Zmeniť meno</a></li>
  	{/if}
</ul>
