{default title => 'NCMS'}
<!DOCTYPE html>
<html>
<head>
	<title>{$title}</title>
</head>
<body>
<h2>Potvrdenie emailovej adresy</h2>

<b><a n:href="//:User:email $userId, 'code' => $code">Kliknutím na odkaz aktivujete svoj účet na portáli web.php5.sk</a></b>

</body>
</html>

