html,
body,
textarea,
ul,
li,
h1,
h2,
h3,
h4,
h5,
form {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000000;
  font-family: Trebuchet MS, sans-serif;
  font-weight: normal;
  font-size: 15px;
  box-sizing: border-box;
}
body {
  position: relative;
  overflow: auto;
}
#header {
  margin: 0;
  margin-bottom: -2px;
  padding: 120px 10px 0 7%;
  color: #fff;
  font-size: 4.15em;
  font-weight: 900;
  font-family: Verdana;
  letter-spacing: -3px;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
}
#header #header-effect {
  display: inline-block;
  transition: transform 0.05s linear;
  transform-origin: right center;
}
#header:hover #header-effect {
  transform: rotate(-10deg);
}
.translate {
  transition: all 250ms cubic-bezier(0.505, 1.35, 0.495, 1);
  /*transition: all 250ms cubic-bezier(0.505, 1.650, 0.495, 1, 0.5);*/
}
.translate-2 {
  transition: all 350ms cubic-bezier(0.505, 1.35, 0.495, 1);
}
.translateInit {
  transform: translate(350px, 0px);
  opacity: 0;
}
.translateInit-2 {
  transform: translate(-350px, 0px);
  opacity: 0;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -5em;
  /* makes footer visible cause 100% push it outside of window */
}
#footerPusher {
  /* must be at the end of wrapper cause margin-bottom -5em pulls the footer up */
  clear: both;
  height: 5em;
}
.footer {
  text-align: center;
  font-weight: normal;
  height: 5em;
  width: 100%;
  padding: 2em 5%;
}
table,
tbody,
thead,
tr,
th,
td {
  border-collapse: collapse;
}
p {
  margin: 0 0 14px;
  padding: 5px 0;
}
b,
strong {
  color: #444;
}
h1 {
  font-family: Trebuchet MS, verdana;
  color: #b63c3c;
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 15px;
}
h1 a {
  color: #b63c3c;
}
h1 a:active {
  color: #3aa391;
}
/*h1 a { color: @c3; }*/
h2,
h3,
h4 {
  font-weight: bold;
  font-family: "Helvetica Neue", Trebuchet MS, verdana;
  margin: 14px 0 0;
  padding: 5px 0;
}
#main h2 {
  font-size: 1.35em;
  color: #3aa391;
}
#main h3 {
  font-size: 1.1em;
  color: #b63c3c;
}
#main h4 {
  font-size: 1em;
  color: #7491a3;
}
#main ol,
#main ul {
  list-style-position: outside;
  padding-left: 25px;
  margin: 0 0 14px;
}
#main img.fL {
  margin: 7px 14px 5px 0;
  -webkit-box-shadow: 3px 3px 7px #555;
  -moz-box-shadow: 3px 3px 7px #555;
  box-shadow: 3px 3px 7px #555;
}
#main img.fR {
  margin: 7px 0 5px 7px;
  -webkit-box-shadow: -3px 3px 7px #555;
  -moz-box-shadow: -3px 3px 7px #555;
  box-shadow: -3px 3px 7px #555;
}
.sidebar {
  padding-right: 30px;
}
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none inside;
}
.sidebar a {
  color: #434343;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.sidebar a:hover {
  color: #3aa391;
  border-left: 3px solid #3aa391;
  padding-left: 9px;
  text-decoration: none;
}
.sidebar li ul {
  display: none;
}
.sidebar li.current_li ul {
  display: block;
}
.sidebar ul li a {
  padding: 5px 5px 5px 10px;
}
.sidebar ul li ul li a {
  padding-left: 30px;
}
.sidebar ul li ul li ul li a {
  padding-left: 50px;
}
.sidebar ul li ul li ul li ul li a {
  padding-left: 70px;
}
.sidebar h2 {
  margin: 0;
  padding-bottom: 20px;
}
a {
  color: #056296;
  text-decoration: none;
}
a.current {
  color: #b63c3c;
}
a:hover,
a:active {
  color: #3aa391;
  text-decoration: none;
}
a:focus,
a:active,
a:visited {
  text-decoration: none;
}
ul li ul li a:hover {
  color: #3aa391;
}
/********** edit menu *************/
#adminEditMenu ul.sortable,
#sortableListsBase {
  margin-left: 0;
  list-style-type: none;
}
#adminEditMenu ul,
#sortableListsBase ul {
  padding: 0;
  margin: 0 0 0 50px;
  color: #375f8e;
  list-style-type: none;
}
#adminEditMenu li,
#sortableListsBase li {
  background-color: #8fe9d2;
}
#adminEditMenu li div,
#sortableListsBase div {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #8fe9d2;
}
/********* edit menu ************/
.pM00,
.pM0 {
  padding: 0;
  margin: 0;
}
.m00,
.m0 {
  margin: 0;
}
.m10 {
  margin: 10px;
}
.mT5 {
  margin-top: 5px;
}
.mT10 {
  margin-top: 10px;
}
.mT20 {
  margin-top: 20px;
}
.mT30 {
  margin-top: 30px !important;
}
.mT50 {
  margin-top: 50px !important;
}
.mB5 {
  margin-bottom: 5px !important;
}
.mB10 {
  margin-bottom: 10px !important;
}
.mB20 {
  margin-bottom: 20px !important;
}
.mB30 {
  margin-bottom: 30px !important;
}
.mB50 {
  margin-bottom: 50px !important;
}
.mR10 {
  margin-right: 10px;
}
.mR20 {
  margin-right: 20px;
}
.mV5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mV10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mV20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mV25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mH5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mH7 {
  margin-left: 7px;
  margin-right: 7px;
}
.mH10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mH20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mH30 {
  margin-left: 30px;
  margin-right: 30px;
}
.mH40 {
  margin-left: 40px;
  margin-right: 40px;
}
.p00,
.p0 {
  padding: 0;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.p25 {
  padding: 25px;
}
.pT0 {
  padding-top: 0;
}
.pT5 {
  padding-top: 5px;
}
.pT10 {
  padding-top: 10px;
}
.pT20 {
  padding-top: 20px;
}
.pT30 {
  padding-top: 30px;
}
.pT50 {
  padding-top: 50px;
}
.pB10 {
  padding-bottom: 10px;
}
.pB20 {
  padding-bottom: 20px;
}
.pB30 {
  padding-bottom: 30px;
}
.pB40 {
  padding-bottom: 40px;
}
.pB50 {
  padding-bottom: 50px;
}
.pB100 {
  padding-bottom: 100px;
}
.pR10 {
  padding-right: 10px;
}
.pR20 {
  padding-right: 20px;
}
.pR30 {
  padding-right: 30px;
}
.pL5 {
  padding-left: 5px;
}
.pL10 {
  padding-left: 10px;
}
.pL20 {
  padding-left: 20px;
}
.pL30 {
  padding-left: 30px;
}
.pV0 {
  padding-top: 0;
  padding-bottom: 0;
}
.pV5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pV10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pV20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pV30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pV50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pV60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.pH0 {
  padding-left: 0;
  padding-right: 0;
}
.pH5 {
  padding-left: 5px;
  padding-right: 5px;
}
.pH7 {
  padding-left: 7px;
  padding-right: 7px;
}
.pH10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pH20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pH25 {
  padding-left: 25px;
  padding-right: 25px;
}
.pH50 {
  padding-left: 50px;
  padding-right: 50px;
}
.fS05 {
  font-size: 0.5em;
}
.fS09 {
  font-size: 0.9em;
}
.fS12 {
  font-size: 1.2em;
}
.fS15 {
  font-size: 1.5em;
}
.fS17 {
  font-size: 1.7em;
}
.fS2 {
  font-size: 2em;
}
.fWB {
  font-weight: bold;
}
.fL {
  float: left;
}
.fR {
  float: right;
}
.w75 {
  width: 75px;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 200px;
}
.w300 {
  width: 300px;
}
.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}
.w50P {
  width: 50%;
}
.w75P {
  width: 75%;
}
.w100P {
  width: 100%;
}
.w95P {
  width: 95%;
}
.w25P {
  width: 25%;
}
.w33P {
  width: 33.3%;
}
.maxW75 {
  max-width: 75px;
}
.maxW130 {
  max-width: 130px;
}
.h100P {
  height: 100%;
}
.h60 {
  height: 60px;
}
.h15E {
  height: 1.5em;
}
.h13E {
  height: 1.3em;
}
.dI {
  display: inline;
}
.dB {
  display: block;
}
.dN {
  display: none;
}
.dIB {
  display: inline-block;
}
.vH {
  visibility: hidden;
}
.small1 {
  font-size: 0.8em !important;
}
.small2 {
  font-size: 0.65em !important;
}
.clear {
  clear: both;
}
.c0,
.color0,
.c0 label,
a.c0 {
  color: #000000;
}
.c1,
.color1,
.c1 label {
  color: #899542;
}
.c2,
.color2,
.c2 label {
  color: #fff;
}
.c3,
.color3,
.c3 label {
  color: #5cb19c;
}
.c5,
.color5,
.c5 label {
  color: #cdd485;
}
.c6,
.color5,
.c6 label {
  color: #f3f5d3;
}
.c7,
.c7 label {
  color: #b63c3c;
}
.bgC1 {
  background-color: #3d4f61;
}
.bgC5 {
  background-color: #f5f5f5;
}
.bgC7 {
  background-color: #d7fce5;
}
.bgC9 {
  background-color: #fff;
}
.bgC10 {
  background-color: #373734;
}
.bgI2 {
  background: #373734 url('https://web.php5.sk/www/images/dark-grey-tile.png');
}
/*.bgI2 { background:@c25 url('@{images}/stars2.png') right -90px  no-repeat; }*/
.bor0,
.b0 {
  border: none;
}
.bor1,
.b1 {
  border: 1px solid #fff;
}
.bor4,
.b4 {
  border: 1px solid #3d4f61;
}
.bor7,
.b7 {
  border-radius: 3px;
  border: 3px solid #81C5B3;
}
.bR2 {
  border-radius: 2px;
}
.bR3 {
  border-radius: 3px;
}
.bR5 {
  border-radius: 5px;
}
.lSTN {
  list-style-type: none;
}
.pR {
  position: relative;
}
.pA {
  position: absolute;
}
.tL0 {
  top: 0;
  left: 0;
}
.tR0 {
  top: 0;
  right: 0;
}
.bL0 {
  bottom: 0;
  left: 0;
}
.vAT,
.vAT td {
  vertical-align: top;
}
.vAB,
.vAB td {
  vertical-align: bottom;
}
.vAM,
.vAM td {
  vertical-align: middle;
}
.tAC {
  text-align: center;
}
.tAL {
  text-align: left;
}
.tAR {
  text-align: right;
}
.oH {
  overflow: hidden;
}
.tSN {
  text-shadow: 0 0 0 #023;
  /* unset text-shadow from .main */
}
.tS1 {
  text-shadow: 0 0 4px #000;
}
.bS1 {
  box-shadow: 0 1px 5px 0 #344;
}
.bS2 {
  box-shadow: inset 0px -22px 7px -22px #000;
}
.bS3 {
  box-shadow: 1px 3px 5px 0 #676767;
}
.td25 td,
.td th {
  width: 25%;
}
.zI10 {
  z-index: 10;
}
.zI100 {
  z-index: 100;
}
.cP {
  cursor: pointer;
}
.control {
  color: #fff;
}
ul.pagination {
  margin: 0;
  padding: 0;
}
.visualPaginator li {
  padding: 10px 2px;
  display: inline-block;
  list-style: none;
  font-weight: bold;
}
.visualPaginator li a,
.visualPaginator li span {
  border: 0 solid transparent;
  margin: 0;
  padding: 0;
  float: none;
}
.visualPaginator li span,
.help-block.text-danger {
  color: #df5148;
}
.pagination > .active > span,
.pagination > .active > span:hover {
  color: #b63c3c;
  background-color: transparent;
}
.formEl,
input,
textarea {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  border: 3px solid #81C5B3;
  background-color: #f9faff;
}
.formElB,
input[type=submit] {
  display: block;
  font-weight: bold;
  padding: 2px 20px;
  cursor: pointer;
  border: 0 solid transparent;
  border-radius: 3px;
  background-color: #81C5B3;
  color: #fff;
}
label {
  font-weight: bold;
}
form td,
form th {
  padding: 7px 7px;
  min-width: 80px;
  vertical-align: middle;
  font-weight: normal;
}
form th {
  text-align: right;
}
form .required label {
  font-weight: bold;
}
.button1,
a.button1 {
  background: url('https://web.php5.sk/www/images/button1.jpg') left center repeat-x;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.hr {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px dotted #889999;
}
.nbsp {
  white-space: nowrap;
}
.area400 {
  width: 400px;
  height: 60px;
}
.area500 {
  height: 500px;
}
.area600 {
  height: 600px;
}
div.g-signin2 {
  display: inline-block;
}
/* Google sign in button */
#ajax-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background: transparent url('/www/images/spinner.gif') no-repeat 50% 50%;
  font-size: 0;
  z-index: 12345;
  display: none;
}
/* flashes */
div.flash {
  margin: 0;
  font-weight: bold;
  border-radius: 3px;
}
a[href^="error:"] {
  background: red;
  color: white;
}
/* form errors */
.error,
ul.error li {
  color: #df5148;
  margin: 0;
  padding: 3px;
  font-weight: bold;
  list-style-type: none;
}
/* end form errors */
table.datagrid {
  background-color: #f5f5f5;
  color: #3d4f61;
}
table.datagrid th {
  background-color: #dfe0eb;
}
table.datagrid td,
table.datagrid th {
  padding: 7px;
  border: 1px solid #3aa391;
}
html.js .jshidden {
  display: none;
}
#tracy-debug h1 {
  /* seká sa to s csskom zo stránky */
  letter-spacing: 0;
  text-shadow: 0 0 0 #fff;
}
#main ul.breadcrumbs {
  padding-left: 0;
}
li.breadcrumbs {
  display: inline-block;
  padding: 5px 0;
  color: #3aa391;
  font-weight: bold;
}
li.breadcrumbs a {
  color: #3aa391;
}
li.breadcrumbs a:hover {
  color: #27D2BD;
}
.hover1:hover {
  background-color: #F0F5BF;
}
.hover2:hover {
  background-color: #f3f5d3;
}
.hover3:hover {
  background-color: #e9eaf5;
}
.fa.fa-lg {
  padding-left: 10px;
  line-height: 1em;
  vertical-align: 0;
  cursor: pointer;
}
.ico {
  padding-left: 20px;
  display: inline-block;
  min-height: 20px;
  cursor: pointer;
}
.ico_modify {
  background: url('https://web.php5.sk/www/images/icons/Modify.png') 2px center no-repeat;
}
.ico_comment {
  background: url('https://web.php5.sk/www/images/icons/Comment.png') 2px center no-repeat;
}
.fa-minus-circle,
.fa-trash-o {
  color: #b63c3c;
}
.fa-check-circle,
.fa-pencil {
  color: green;
}
.ico_trash {
  background: url('https://web.php5.sk/www/images/icons/Trash.png') 2px center no-repeat;
}
.ico_add {
  background: url('https://web.php5.sk/www/images/icons/Add.png') 2px center no-repeat;
}
.ico_help {
  background: url('https://web.php5.sk/www/images/icons/Help book.png') 2px center no-repeat;
}
.ico_hint {
  background: url('https://web.php5.sk/www/images/icons/Hint.png') 2px center no-repeat;
}
pre.prettyprint.custom {
  margin-left: -7px;
  margin-right: -7px;
  padding: 10px 7px;
  background-color: #f9faff;
  border: 1px solid #e1e4ef;
  overflow: auto;
  word-wrap: normal;
}
div.flexiFlash {
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  z-index: 2500;
  font-weight: bold;
}
div.flexiFlash div {
  box-shadow: 1px 3px 5px 0 #676767;
}
.x {
  float: right;
  cursor: pointer;
  padding: 0 0 7px 7px;
}
#fbLogin {
  padding: 1px 6px 1px 1px;
  font-size: 12px;
  line-height: 20px;
  height: 22px;
  display: inline-block;
  background-color: #1877f2;
  color: #fff;
  cursor: pointer;
}
#fbLogin img {
  float: left;
  margin: 0 4px 0 0;
  padding: 0;
  width: 20px;
  height: 20px;
}
#gLogin {
  padding: 1px 6px 1px 1px;
  font-size: 12px;
  line-height: 20px;
  height: 22px;
  display: inline-block;
  background-color: #222;
  color: #fff;
  cursor: pointer;
}
#gLogin img {
  float: left;
  margin: 0 4px 0 0;
  padding: 0;
  width: 20px;
  height: 20px;
}
